<h2>Bespoke Industrial Clothing</h2>
<img src="~/Images/Products/man on fireb.png" style="width: 49%; border: 5px solid white" />
<img src="~/Images/Products/slider03b.jpg" style="width: 49%; border: 5px solid white"/>
<img src="~/Images/Products/Cutting section.jpg" style="width: 49%; border: 5px solid white"/>
<img src="~/Images/Products/embroidery-machines.jpeg" style="width: 49%; border: 5px solid white"/>
<p>At Provincial Safety Services, we produce garments in house at our facility in the West Midlands to the customers’ specific design, colour and standards required. We produce garments for many blue-chip companies such as Doosan, Lyndon Scaffolding, Alstom, Siemens, Rolls-Royce, EDF, GE and many others. We use our many years of experience to offer a solution which is functional, safe and compliant to all relevant standards.</p>
<p>Our bespoke garments are generally produced using high quality materials such as: various weights of polyester cotton, 100% cotton drill, Nomex inherently Flame Retardant (unlimited FR life), Proban, Flamemaster, Megatec or any other material that you as a client may require depending on the use. These materials are sourced direct from the manufacturing mills Tencate and Klopman or from major fabric suppliers such as Carrington, Proban and many others. All garments can be embroidered or heat sealed with your company logo and individual names which gives you presence in the workplace.</p>
<h3>Fabric Suppliers</h3>
<img src="~/Images/Logos/CarringtonLogo.png" />
<img src="~/Images/Logos/KlopmanLogo.png" />
<img src="~/Images/Logos/TencateLogo.png" />
<img src="~/Images/Logos/proban.jpg" />
<h3>Examples of Companies We Supply</h3>
<img src="~/Images/Logos/LyndonLogo.png" />
<img src="~/Images/Logos/SiemensLogo.png" />
<img src="~/Images/Logos/RollsRoyceLogo.png" />
<img src="~/Images/Logos/GELogo.png" />
<img src="~/Images/Logos/EONLogo.png" />
<img src="~/Images/Logos/EDFLogo.png" />
<img src="~/Images/Logos/AlstomLogo.png" />
<img src="~/Images/Logos/DoosanLogo.png" />
<div class="container">
    <div class="row photoText">
        <div class="col-sm-9 col photo">
            <img src="~/Images/Products/BespokeGarments.png" style="width: 100%" />
        </div>
        <div class="col-sm-3 text">
            <p>Provincial Safety Services supply a full range of off the shelf garments produced in any material required such as cotton drill, polyester cotton and flame retardant. The flame retardant materials Nomex, Proban, and Megatec. These garments can be supplied in boiler suits, jackets, trousers, welding hoods in various colours, designs, weights and materials.</p>
        </div>
    </div>
    
</div>