<h2>Bespoke Clothing</h2>
<img src="~/Images/Products/man on fire.png" />
<img src="~/Images/Products/slider03.jpg" />
<img src="~/Images/Products/Cutting section.jpg" />
<img src="~/Images/Products/embroidery-machines.jpeg" />
<p>At Provincial Safety Services, we produce garments in house at our facility in the West Midlands to the customers’ specific design, colour and standards required. We produce garments for many blue-chip companies such as Doosan, Lyndon Scaffolding, Alstom, Siemens, Rolls-Royce, EDF, GE and many others. We use our many years of experience to offer a solution which is functional, safe and compliant to all relevant standards.</p>
<p>Our bespoke garments are generally produced using high quality materials such as: Nomex inherently Flame Retardant (unlimited FR life), Proban, Flamemaster, Megatec or any other material that you as a client may require depending on the use. These materials are sourced from major flame retardant manufacturing mills Tencate, Klopman, Carrington and Proban. All garments can be embroidered or heat sealed with your company logo and individual names which gives you presence in the workplace.</p>
<p>Furthermore, these garments once produced can be embroidered or heat sealed with your company logo and individual names which gives you presence in the workplace.</p>
<h3>Fabric Suppliers</h3>
<img src="~/Images/Logos/Carrington-Menu-White.png" />
<img src="~/Images/Logos/KlopmanLogo.png" />
<img src="~/Images/Logos/TencateLogo.png" />
<img src="~/Images/Logos/proban.jpg" />
<h3>Examples of Companies We Supply</h3>
<img src="~/Images/Logos/Lyndon logo.png" />
<img src="~/Images/Logos/Siemens logo.png" />
<img src="~/Images/Logos/Rolls-Royce logo.png" />
<img src="~/Images/Logos/GE logo.png" />
<img src="~/Images/Logos/Eon logo.png" />
<img src="~/Images/Logos/EDF logo.png" />
<img src="~/Images/Logos/Alstom logo.png" />
<img src="~/Images/Logos/Doosan logo.png" />
<div class="container">
    <div class="row photoText">
        <div class="col-sm-6 col photo">
            @*<img src="~/Images/Products/Boilersuits.jpg" style="width: 49%" />
                <img src="~/Images/Products/Polycotton Boilersuits.jpg" style="width: 49%" />*@
            <img src="~/Images/Products/Nomex Boilersuit.jpg" />
            <img src="~/Images/Products/Orange Hi Vis.jpg" />
            <img src="~/Images/Products/Royal Megatec.jpg" />
            <img src="~/Images/Products/Rolls Royce garment.jpg" />
            <img src="~/Images/Products/Yellow + Royal Hi Vis Boilersuit.jpg" />
            <img src="~/Images/Products/Yellow + Green Boilersuit.jpg" />
            <img src="~/Images/Products/Royal CD Hi Vis.jpg" />
            <img src="~/Images/Products/Royal Megatec Orange Hi Vis.jpg" />
            <img src="~/Images/Products/Red Hi Vis Boilersuit.jpg" />
            <img src="~/Images/Products/Navy-Yellow Boilersuit.jpg" />
        </div>
        <div class="col-sm-6 text">
            <h3>Flame Retardant Garments</h3>
            <p>Provincial Safety Services supply a full range of off the shelf Flame Retardant garments, boiler suits, jackets, trousers, welding hoods in various colours, designs, weights and FR materials.</p>
        </div>
    </div>
    
</div>