<h2>Clothing</h2>

<div class="container">
        <div class="row photoText">
        <div class="col-sm-6 col photo">
            <img src="~/Images/Products/Boilersuits.jpg" style="width: 49%" />
            <img src="~/Images/Products/Polycotton Boilersuits.jpg" style="width: 49%" />
        </div>
        <div class="col-sm-6 text">
            <h3>Workwear</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of workwear</p>
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-4 text">
            <h3>High Visibility</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of high visibility clothing.</p>
        </div>
        <div class="col-sm-8 photo">
            <img src="~/Images/Products/Hi Vis Bomber.jpg" style="width: 24%" />
            <img src="~/Images/Products/Hi Vis Jackets.jpg" style="width: 24%" />
            <img src="~/Images/Products/Hi Vis wcoats.jpg" style="width: 24%" />
            <img src="~/Images/Products/Coloured Waistcoats2.jpg" style="width: 24%" />
        </div>
    </div>
    <div class="row photoText">

        <div class="col-sm-6 photo">
            <img src="~/Images/Products/CorporateClothing.png" style="width: 100%" />
        </div>
        <div class="col-sm-6 text">
            <h3>Corporate Clothing</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of corporate clothing.</p>
            <img src="~/Images/Logos/RegattaLogo.png" class="logo" style="width: 33%" />
        </div>
    </div>

</div>