<h2>Clothing</h2>
<p>
    Provincial Safety Services supply a full range of Polycotton, Cotton Drill and Flame Retardant boiler suits, jackets and trousers. Many off the shelf designs and styles alternatively we produce in house at our manufacturing facility in the West Midlands a full bespoke range of garments which the client can design and colour co-ordinate to their preference. All garments can be embroidered or heat sealed with your company logo and individual names which gives you presence in the workplace.
</p>
<div class="container">
    <div class="row photoText">
        <div class="col-sm-6 col photo">
            <img src="~/Images/Products/FlameRetardantGarments.png" style="width: 100%"  />
        </div>
        <div class="col-sm-6 text">
            <h3>Flame Retardant Garments</h3>
            <p>Provincial Safety Services supply a full range of off the shelf Flame Retardant garments in various colours, designs and FR materials. Alternatively, we produce in house at our manufacturing facility in the West Midlands a full bespoke range of Flame Retardant garments which the client can design and colour co-ordinate to their preference.</p>
            <p>Our bespoke garments are generally produced using high quality materials such as: Nomex inherently Flame Retardant (unlimited FR life), Proban, Flamemaster, Megatec or any other material that you as a client may require depending on the use.</p>
            <p>All garments can be embroidered or heat sealed with your company logo and individual names which gives you presence in the workplace.</p>
            <a href="BespokeClothing">See bespoke clothing page</a>
            <br/>
            <br />
            <img src="~/Images/Logos/CarringtonLogo.png" class="logo" style="width: 24%" />
            <img src="~/Images/Logos/ProbanLogo.png" class="logo" style="width: 24%" />
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-6 text">
            <h3>Rail Spec Clothing (GORT)</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of rail spec GORT clothing, including boiler suits, jackets, trousers, rip-away hi-vis waistcoats</p>
        </div>
        <div class="col-sm-6 photo">
            <img src="~/Images/Products/RSC.JPG" style="height: 250px" />
            <img src="~/Images/Products/RSJ.JPG" style="height: 250px" />
            <img src="~/Images/Products/RST40.JPG" style="height: 250px" />
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-7 col photo">
            @*<img src="~/Images/Products/Boilersuits.jpg" style="width: 49%" />*@
            <img src="~/Images/Products/Polycotton Boilersuits.jpg"  style="height: 150px" />
            <img src="~/Images/Products/Navy-Orange FR Boilersuits.jpg" style="height: 150px" />
            <img src="~/Images/Products/Fr Trousres.jpg" style="height: 150px" />
            <img src="~/Images/Products/FR Jackets.jpg" style="height: 150px" />
        </div>
        <div class="col-sm-5 text">
            <h3>Workwear</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of workwear supplying cotton drill, polyester cotton, jackets, trousers, boilersuits in a variety of weights and colours.</p>
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-4 text">
            <h3>High Visibility</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of high visibility clothing.</p>
        </div>
        <div class="col-sm-8 photo">
            <img src="~/Images/Products/Hi Vis Bomber.jpg" style="width: 24%" />
            <img src="~/Images/Products/Hi Vis Jackets.jpg" style="width: 24%" />
            <img src="~/Images/Products/Hi Vis wcoats.jpg" style="width: 24%" />
            <img src="~/Images/Products/Coloured Waistcoats2.jpg" style="width: 24%" />
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-7 col photo">
            <img src="~/Images/Products/Waterproof clothing.jpg"  style="height: 150px"/>
            <img src="~/Images/Products/Winter liner.JPG" style="height: 150px" />
            <img src="~/Images/Products/Softshell jacket.jpg" style="height: 150px" />
            <img src="~/Images/Products/Regatta Fleece.jpg" style="height: 150px" />
        </div>
        <div class="col-sm-5 text">
            <h3>Foul Weather Clothing</h3>
            <p>Provincial Safety Services Ltd. are a supplier of a complete range of foul weather clothing such as fleeces, soft shell jackets, padded rain coats, wet weather jackets and trousers and zero hoods.</p>
        </div>
    </div>
    <div class="row photoText">

        <div class="col-sm-6 photo">
            <img src="~/Images/Products/CorporateClothing.png" style="width: 100%" />
        </div>
        <div class="col-sm-6 text">
            <h3>Corporate Clothing</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of corporate clothing.</p>
            <img src="~/Images/Logos/RegattaLogo.png" class="logo" style="width: 33%" />
        </div>
    </div>

</div>