<h2>Fall Arrest and Height Safety Equipment</h2>

<div class="container">
    <div class="row photoText">
        <div class="col-sm-6 col photo">
            <img src="~/Images/Products/FallArrest.png" style="width: 100%" />
            <img src="~/Images/Products/FallArrest2.png" style="width: 100%" />
        </div>
        <div class="col-sm-6 text">
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of fall arrest equipment.</p>
            <img src="~/Images/Logos/SpansetLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/PandPLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/IkarLogo.png" class="logo" style="width: 32%" />
        </div>
    </div>
</div>