@{
    ViewBag.Title = "Safety Footwear";
}
<h1>Safety Footwear</h1>

<div class="container">
    <div class="row photoText">
        <img src="~/Images/Products/ZephyrWallchart.jpg" style="width: 100%" />
        @*<div class="col-sm-8 col photo">
            <img src="~/Images/Products/Footwear.png" style="width: 100%" />
        </div>
        <div class="col-sm-4 text">
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of footwear.</p>
            <img src="~/Images/Logos/CatLogo.png" class="logo" style="width: 33%" />
            <img src="~/Images/Logos/DrMartensLogo.png" class="logo" style="width: 33%" />
            <img src="~/Images/Logos/V12Logo.png" class="logo" style="width: 33%" />
            <img src="~/Images/Logos/ZephyrLogo.png" class="logo" style="width: 33%" />
            <img src="~/Images/Logos/UvexLogo.png" class="logo" style="width: 33%" />
        </div>*@
    </div>
</div>