<h2>Hand Protection</h2>

<div class="container">
    <div class="row photoText">
        <div class="col-sm-6 col photo">
            <img src="~/Images/Products/Gloves.png" style="width: 100%" />
            <img src="~/Images/Products/IndustrialGloves.jpg" style="width: 100%" />
        </div>
        <div class="col-sm-6 text">
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of hand protection.</p>
            <img src="~/Images/Logos/TornadoLogo.png" class="logo" style="width: 33%" />
            <img src="~/Images/Logos/PolycoLogo.png" class="logo" style="width: 33%" />
        </div>
    </div>
</div>