<h2>Head Protection</h2>

<div class="container">
    <div class="row photoText">
        <div class="col-md-6 photo">
            <img src="~/Images/Safety1.jpg" style="width: 100%" />
        </div>
        <div class="col-md-6" >
            <h3>Helmets</h3>
            <p>Lorem ipsum dolor sit amet, te debitis quaestio vel. Sed at vide maiestatis. Ne eos causae pertinax scribentur. Dicta debitis perpetua ei ius, id primis vivendum postulant pri. Ut deleniti fabellas nec, qui in odio equidem urbanitas, nostrud lucilius splendide est an. Tota habeo quo et, sed evertitur abhorreant ex. Officiis ponderum ex sed, abhorreant argumentum vix in, dico epicurei per no.</p>
        </div>
    </div>

    <div class="row photoText">
        <div class="col-md-6 photo">
            <img src="~/Images/Safety2.jpg" style="width: 100%" />
        </div>
        <div class="col-md-6">
            <h3>Eyewear</h3>
            <p>Lorem ipsum dolor sit amet, te debitis quaestio vel. Sed at vide maiestatis. Ne eos causae pertinax scribentur. Dicta debitis perpetua ei ius, id primis vivendum postulant pri. Ut deleniti fabellas nec, qui in odio equidem urbanitas, nostrud lucilius splendide est an. Tota habeo quo et, sed evertitur abhorreant ex. Officiis ponderum ex sed, abhorreant argumentum vix in, dico epicurei per no.</p>
        </div>
    </div>
    <div class="row photoText">
        <div class="col-md-6 photo">
            <img src="~/Images/Safety3.jpg" style="width: 100%" />
        </div>
        <div class="col-md-6">
            <h3>Facial Protection</h3>
            <p>Lorem ipsum dolor sit amet, te debitis quaestio vel. Sed at vide maiestatis. Ne eos causae pertinax scribentur. Dicta debitis perpetua ei ius, id primis vivendum postulant pri. Ut deleniti fabellas nec, qui in odio equidem urbanitas, nostrud lucilius splendide est an. Tota habeo quo et, sed evertitur abhorreant ex. Officiis ponderum ex sed, abhorreant argumentum vix in, dico epicurei per no.</p>
        </div>
    </div>
</div>