@{
    ViewBag.Title = "Head Protection";
}

<h1>Head Protection</h1>

<div class="container">
    <div class="row photoText">
        <div class="col-sm-3 photo">
            <img src="~/Images/Products/Safety helmet.PNG" style="width: 100%" />
        </div>
        <div class="col-sm-3 text">
            <h3>Safety Helmets</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of safety helmets complying to the current  BS EN 397:2012+A1:2012 standards.</p>
            <img src="~/Images/Logos/CenturionLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/JSPLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/MSALogo.png" class="logo" style="width: 30%" />
        </div>
        <div class="col-sm-3 photo">
            <img src="~/Images/Products/Hearing Prot.jpg" style="width: 100%" />
        </div>
        <div class="col-sm-3 text">
            <h3>Hearing Protection</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of hearing protection complying to the current BS EN 352-2:2002 standards.</p>
            <img src="~/Images/Logos/HowardLeightLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/UvexLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/JSPLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/HoneywellLogo.png" class="logo" style="width: 30%" />
            <img src="~/Images/Logos/3MLogo.png" class="logo" style="width: 30%" />
        </div>
    </div>

    <div class="row photoText">
        <div class="col-sm-6 col photo">
            <img src="~/Images/Products/Eyewear.png" style="width: 100%" />
        </div>
        <div class="col-sm-6 text">
            <h3>Safety Eyewear</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of hearing protection complying to the current BS EN166 standards.</p>
            <img src="~/Images/Logos/3MLogo.png" class="logo" style="width: 24%" />
            <img src="~/Images/Logos/UvexLogo.png" class="logo" style="width: 24%" />
            <img src="~/Images/Logos/UnivetLogo.png" class="logo" style="width: 24%" />
            <img src="~/Images/Logos/HoneywellLogo.png" class="logo" style="width: 24%" />
        </div>
    </div>
    <div class="row photoText">
        <div class="col-sm-6 text">
            <h3>Respiratory</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of respiratory both disposable, semi-disposable and re-usable complying to the current standards.</p>
            <ul>
                <li>
                    disposable respirator to standards EN149 (type FFP3) or EN1827 (type
                    FMP3)
                </li>
                <li>
                    half mask respirator (to standard EN140) with P3 filter
                </li>
                <li>
                    semi-disposable respirator (to EN405) with P3 filter
                </li>
            </ul>

            <img src="~/Images/Logos/3MLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/JSPLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/HoneywellLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/UvexLogo.png" class="logo" style="width: 32%" />
            <img src="~/Images/Logos/RespairLogo.png" class="logo" style="width: 32%" />
            <br />
        </div>
        <div class="col-sm-6 photo">
            <img src="~/Images/Products/Respirators.png" style="width: 100%" />
        </div>
    </div>

</div>