<h2>Head Protection</h2>

<div class="container">
    <div class="row photoText">
        <div class="col-md-3 photo">
            <img src="~/Images/Products/Safety helmet.PNG" style="width: 100%" />
        </div>
        <div class="col-md-3">
            <h3>Helmets</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of safety helmets complying to the current  BS EN 397:2012+A1:2012 standards.</p>
            <img src="~/Images/Products/Centurian logo.png" style="width: 30%" />
            <img src="~/Images/Products/JSP logo.png" style="width: 30%" />
            <img src="~/Images/Products/MSA logo.jpg" style="width: 30%" />
        </div>
        <div class="col-md-3 photo">
            <img src="~/Images/Products/Hearing Prot.jpg" style="width: 100%" />
        </div>
        <div class="col-md-3">
            <h3>Hearing Protection</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of hearing protection complying to the current BS EN 352-2:2002 standards.</p>
            <img src="~/Images/Products/hl_logo.jpg" style="width: 30%" />
            <img src="~/Images/Products/Uvex_logo.jpg" style="width: 30%" />
            <img src="~/Images/Products/MSA logo.jpg" style="width: 30%" />
            <img src="~/Images/Products/JSP logo.png" style="width: 30%" />
            <img src="~/Images/Products/Honeywell logo.png" style="width: 30%" />
            <img src="~/Images/Products/3M logo.jpg" style="width: 30%" />
        </div>
    </div>

    <div class="row photoText">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Safety Eyewear.jpg" style="width: 100%" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Safety Eyewear 4.jpg" style="width: 100%;" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Uvex Skyper.jpg" style="width: 100%;" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/UvexWeldingGoggle.png" style="width: 100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Safety Eyewear 2.jpg" style="width: 100%" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Safety Eyewear 3.jpg" style="width: 100%" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/Univet Overspec.jpg" style="width: 100%" />
                </div>
                <div class="col-md-4 photo">
                    <img src="~/Images/Products/UvexFaceScreen.PNG" style="width: 100%" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Eyewear</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of hearing protection complying to the current BS EN166 standards.</p>
            <img src="~/Images/Products/3M logo.jpg" style="width: 24%" />
            <img src="~/Images/Products/Uvex_logo.jpg" style="width: 24%" />
            <img src="~/Images/Products/Univet logo.png" style="width: 24%" />
            <img src="~/Images/Products/Honeywell logo.png" style="width: 24%" />
        </div>
    </div>
    <div class="row photoText">        
        <div class="col-md-6">
            <h3>Respiratory</h3>
            <p>Provincial Safety Services Ltd. are a supplier of all the major manufacturers of respiratory both disposable, semi-disposable and re-usable complying to the current standards.</p>
            <ul>
                <li>
                    disposable respirator to standards EN149 (type FFP3) or EN1827 (type
                    FMP3)
                </li>
                <li>
                    half mask respirator (to standard EN140) with P3 filter
                </li>
                <li>
                    semi-disposable respirator (to EN405) with P3 filter
                </li>
            </ul>

            <img src="~/Images/Products/3M logo.jpg" style="width: 25%" />
            <img src="~/Images/Products/JSP logo.png" style="width: 25%" />
            <img src="~/Images/Products/Honeywell logo.png" style="width: 25%" />
            <img src="~/Images/Products/Uvex_logo.jpg" style="width: 25%" />
            <img src="~/Images/Products/Respair logo.png" style="width: 25%" />
        </div>  
        <div class="col-md-6 photo">
            <img src="~/Images/Products/Disp Resp.jpg" style="width: 50%" />
            <img src="~/Images/Products/Powered & Supplied Air Resp.jpg" style="width: 50%" />
            <img src="~/Images/Products/Reusable resp.jpg" style="width: 50%" />
            <img src="~/Images/Products/SemiDisposable3mRespirator.jpg" style="width: 50%" />
        </div>      
    </div>

</div>