body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contact-details li {
    margin-right: 10px;
}

@font-face {
    font-family: OmnesMedium;
    src: url(../fonts/OmnesMed.ttf);
}

* {
    font-family: OmnesMedium;
}

h2, h3 {
    color: #f7ca55;
}

.photoText {
    padding: 10px;
    border: solid 10px #525e6d;
    margin-bottom: 20px;
    background-color: #525e6d;
    color: white;
}

    .photoText .photo {
        padding: 0px;
    }

    .photoText .text {
        padding-bottom: 20px;
    }

img.logo {
    margin-bottom: 2px;
    text-align: center;
}

.mainlogo a {
    background: url(/Images/Logo.png) no-repeat;
    height: 150px;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }