@{
    ViewBag.Title = "Industries";
}
<h1>Industries</h1>
<p>Provincial Safety Services are major suppliers to the construction industry and all aspects of heavy to light engineering. The images are an example of the products we supply as all items shown in these pictures are of products all supplied by Provincial Safety Services.</p>
<img src="~/Images/Products/Doosan welder.png"  style="width: 49%; border: 5px solid white"/>
<img src="~/Images/Products/Lyndon manb.jpg"  style="width: 49%; border: 5px solid white"/>
<img src="~/Images/Products/Lyndon menb.jpg"  style="width: 49%; border: 5px solid white"/> 
<img src="~/Images/Products/Doosan welder2.jpg" style="width: 49%; border: 5px solid white" />

